# Data Science Tools and Ecosystem

## Introdution: 
In this Notebook, we will summarize all the tools and ecosystem wich are used for Data science.

## Objectives : 
The gaol of this labs is to create a notebook and doing some manipulation inside. This manipulations are doing by Markdown of code. Another objective is to add the created notebook on github. do do that, we will doint the following tasks : 
- List of the Data Science Language
- List of the popular Data science Libraries
- Simple arithetical operation

## Data science Languages : 
in this section, we list some of common data science Languages Used: 
- Pyton
- R
- JAVA
- EXCEL
- JAVA PLUS

## Data science Libraries : 
in this section, we list some of common data science Libraries Used:
- Matplotlib
- Plotly
- Pandas
- Seaborn
- Scikit Learn
- Numpy
- Keras

| Data Science Tools |
| :---------------:|
| Jupyter Notebooks |
| Pytorch  |
|MLFlow  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithm√©tique expression to multiply then and add integers
(4 * 3) + 5

17

In [5]:
# This code will convert 200 minutes to hours by divising by 60
200/60

3.3333333333333335

## Authors
Alexis Blaise TALLA SIMO